<section class="footer">
    <div class="contentFooter">
        <div id="contenido-izquierdo" class="info-footer">
            <a href="assets/catalogos/catalogo_lukiaitos_2017.pdf" target="_blank">
                <article id="descargar-catalogo">Haz clic aquí y descarga nuestro catálogo.</article>
            </a>

            <article id="apoyamos">
                <figure id="bandera-colombia"></figure>
                <p>Apoyamos a la industria COLOMBIANA.</p>
            </article>
        </div>

        <div id="contenido-derecha" class="info-footer">

            <div id="direccion">
                <span class="material-icons">place</span>
                <p>
                    <strong>Dirección:</strong><br />
                    <i>Medellin, Cra. 79 # 47-36</i>
                </p>
            </div>

            <div id="telefono">
                <span class="material-icons"> phone_iphone</span>
                <p>
                    <a id="whatsapp"
                        href="https://api.whatsapp.com/send?phone=573218427953&text=¡Hola! %20Quiero%20comunicarme%20con%20un%20asesor."
                        target="_blank">
                        <strong>Celular:</strong><br />
                        <i>( +57 ) 3218427953</i>
                    </a>
                </p>
            </div>

            <div id="telefono">
                <span class="material-icons">call</span>
                <p>
                    <strong>Llámanos:</strong><br />
                    <i>( 604 ) 559 0060</i>
                </p>
            </div>

            <div id="email">
                <span class="material-icons">email</span>
                <p>
                    <a href="mailto:comercial@doi.com.co">
                        <strong>Email:</strong><br />
                        <i>comercial@doi.com.co</i>
                    </a>
                </p>
            </div>
        </div>

        <div id="redes-sociales">
            <h3>Síguenos y entérate de<br />
                nuestras novedadess</h3>
            <a href="https://www.facebook.com/profile.php?id=100087366704669" target="_blank">
                <figure id="facebook"></figure>
                <span>@pijamasdoi</span>
            </a>
            <a href="https://www.instagram.com/pijamasdoi/" target="_blank">
                <figure id="instagram"></figure>
                <span>@pijamasdoi</span>
            </a>
        </div>
    </div>

    <div id="copyright">
        <p>Política de Privacidad de lukiaitos © </p>
        <p>Todos los derechos reservados. Diseñada por <a href="https://www.linkedin.com/in/ana-velez-ossa/">Ana Velez
                Ossa</a></p>
    </div>
</section>