<section>
    <div class="maps">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.047139402357!2d-75.59925098476876!3d6.257520927933121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4429b22d79bc2f%3A0x38126bdf553e5891!2sCREACIONES%20SAN%20LUCAS%20SAS!5e0!3m2!1ses!2sco!4v1678909319861!5m2!1ses!2sco"
             style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="info">
        <h1>CREACIONES SAN LUCAS</h1>
        <h3>Somos DOI</h3>

        <p>
            Somos una empresa colombiana con 15 años de experiencia en la
            producción, comercialización y distribución a <strong>nivel nacional e internacional</strong> de prendas para dormir. <br/> <br/>
            Nuestro objetivo principal es la comodidad y confort de todos los integrantes de la familia, esto lo logramos a través de la elaboración de prendas con la mejor calidad y enfocados en desarrollar líneas para cada necesidad.  
        </p>

        <h2>¿Quieres vender nuestros productos?
            <br/>Escribenos!!</h2>
        <div class="contactInfo">
            <div>
                <figure class="email"></figure>
                <a href="mailto:comercial@doi.com.co">comercial@doi.com.co</a>
            </div>

            <div>
                <figure class="whatsapp"></figure>
                <a href="https://api.whatsapp.com/send?phone=573218427953&text=¡Hola! %20Quiero%20comunicarme%20con%20un%20asesor.">+57 321 842 7953</a>
            </div>
        </div>
    </div>
</section>