<mat-toolbar id="header">

  <div id="contactInfoHeader" fxLayout="row" fxLayoutAlign="space-around center" fxHide.xs="true" fxHide.sm="true">

    <p>
      <strong>¡Hablemos!</strong>
      <a id="whatsapp"
        href="https://api.whatsapp.com/send?phone=573218427953&text=¡Hola! %20Quiero%20comunicarme%20con%20un%20asesor."
        target="_blank" fxFlex="33" fxLayout="row" fxLayoutAlign="start center"> +57 321 842 7953</a>
    </p>
    <p>
      <strong>Email:</strong>
      <a href="mailto:comercial@doi.com.co" fxFlex="65">comercial@doi.com.co</a>
    </p>

  </div>

  <div id="mat-toolbar-row" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center">

    <button id="btnMenu" type="button" mat-button (click)="toggleDrawer()" fxFlex="15" fxFlex.xs="20" fxShow="true"
      fxHide.gt-sm>
      <span class="material-icons"> menu </span>
    </button>

    <a id="goToHome" fxFlex="20" fxFlex.xs="40" routerLink="/home">
      <figure id="logoCompany"></figure>
    </a>

    <ng-container *ngIf="!diviceXs">
      <app-menu fxFlex="70"></app-menu>
    </ng-container>

  </div>

</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <p><strong>Cel:</strong> +57 321 842 7953</p>
    <p><strong>Email:</strong> comercial@doi.com.co</p>

    <app-menu></app-menu>
  </mat-drawer>

  <div>
    <router-outlet> </router-outlet>
  </div>

  <app-footer></app-footer>

</mat-drawer-container>


<a id="floatWhatsapp"
  href="https://api.whatsapp.com/send?phone=573218427953&text=¡Hola! %20Quiero%20comunicarme%20con%20un%20asesor."
  target="_blank">
  <figure></figure>
</a>