
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$whiteColor:#fff;
$cobaltColor:#003DA6;
$DoveGrayColor: #666666;
$CornflowerColor:#97caeb;
$CornflowerOscuroColor:#2a5b7c;
$BroomColor:#FFE820;
$MineShaftColor:#202020;
$BlackColor:#000000;
$SilverColor:#CCCCCC;

$QuicksandFont:'Quicksand', sans-serif;